<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagramas - Registro</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery.js"></script>
</head>
<body>
  <div class="wrapper">
    <form class="form-signin" method="post" action="https://diagramas-ksantacr.c9users.io/registro">
      <h2 class="form-signin-heading">Registrate</h2>
      <input type="email" class="form-control" name="email" placeholder="Email" required="" autofocus="" id="email" /><br></br>
      <input type="text" class="form-control" name="nombre" placeholder="Username" required="" autofocus="" id="nombre" /><br></br>
      <input type="password" class="form-control" name="password" placeholder="Password" id="password" required=""/><br></br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Registrame</button>
    </form>
  </div>

</body>
</html>